<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />


    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon" type="image/png">


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>EasyEats</title>
  </head>
  <body>
    <header class="header">
      <div class="header__logo-box">
        <img alt="Logo" class="header__logo" src="../static/img/logo.png" />
      </div>

      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Easy Eats</span>
          <span class="heading-primary--sub"
            >We'll make small decisions for you!</span
          >
        </h1>

        <a class="btn btn--white btn--entry" href="#main__container"
          >Discover best restaurants of Prague</a
        >
      </div>
    </header>
    <main class="main">
      <div class="main__container" id="main__container">
        <div class="main__header">
          <img
            alt="restApp logo"
            class="main__header__logo"
            src="../static/img/logo.png"
          />

            <div class="main__header__sort-controller">
                <span>Sort by:&nbsp&nbsp</span>
                <select class="main__header__sort-select" id="sortOptions">
                    <p>
                        <option class="main__header__sort-opt" value="rating-sort-desc"
                        >Rating from high to low
                        </option>
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="rating-sort-asc"
                        >Rating from low to high
                        </option>
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="price-sort-asc"
                        >Price from low to high
                        </option>
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="price-sort-desc"
                        >Price from high to low
                        </option>
                    </p>
                </select
                >
            </div>

        </div>
        <div class="main__content">
          <section class="main__sidebar">
            <div class="main__filter">
              <div class="main__filter__item">
                <div class="main__filter__item-head">
                  <h3>Location</h3>
                </div>
                <div class="main__filter__item-body">
                  <input
                    class="main__address-input"
                    name="address"
                    id="searchAddress"
                    placeholder="Enter your location (street name)"
                    type="text"
                    value=""
                  />
                </div>
              </div>


                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head"><h3>Cuisine</h3></div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_1"
                                        name="cuisines"
                                        type="checkbox"
                                        value="American"
                                /><label class="main__filter__body-label" for="checkbox_1">American</label>
                            </div>

                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_2"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Argentine"
                                /><label class="main__filter__body-label" for="checkbox_2">Argentine</label>
                            </div>

                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_3"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Asian"
                                /><label class="main__filter__body-label" for="checkbox_3">Asian</label>
                            </div>

                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_4"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Austrian"
                                /><label class="main__filter__body-label" for="checkbox_4">Austrian</label>
                            </div>

                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_5"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Bakery"
                                /><label class="main__filter__body-label" for="checkbox_5">Bakery</label>
                            </div>

                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_6"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Balkans"
                                /><label class="main__filter__body-label" for="checkbox_6">Balkans</label>
                            </div>
                            <div class="main__filter__body-hidden">

                                <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_7"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Belgian"
                                /><label class="main__filter__body-label" for="checkbox_7">Belgian</label>
                            </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_8"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Beverages"
                                    /><label class="main__filter__body-label" for="checkbox_8">Beverages</label>
                                </div>


                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_9"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Brazilian"
                                    /><label class="main__filter__body-label" for="checkbox_9">Brazilian</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_10"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Burger"
                                    /><label class="main__filter__body-label" for="checkbox_10">Burger</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_11"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Cafe"
                                    /><label class="main__filter__body-label" for="checkbox_11">Cafe</label>
                                </div>

                                <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_12"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Canadian"
                                /><label class="main__filter__body-label" for="checkbox_12">Canadian</label>
                            </div>


                                <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_13"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Chinese"
                                /><label class="main__filter__body-label" for="checkbox_13">Chinese</label>
                            </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_14"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Coffee+and+Tea"
                                    /><label class="main__filter__body-label" for="checkbox_14">Coffee and Tea</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_15"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Crepes"
                                    /><label class="main__filter__body-label" for="checkbox_15">Crepes</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_16"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Cuban"
                                    /><label class="main__filter__body-label" for="checkbox_16">Cuban</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_17"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Czech"
                                    /><label class="main__filter__body-label" for="checkbox_17">Czech</label>
                                </div>

                                <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_18"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Desserts"
                                /><label class="main__filter__body-label" for="checkbox_18">Desserts</label>
                            </div>


                                <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_19"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Drinks+Only"
                                /><label class="main__filter__body-label" for="checkbox_19">Drinks Only</label>
                            </div>


                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_20"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Fast+Food"
                                    /><label class="main__filter__body-label" for="checkbox_20">Fast Food</label>
                                </div>

                                 <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_21"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Finger+Food"
                                    /><label class="main__filter__body-label" for="checkbox_21">Finger Food</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_22"
                                            name="cuisines"
                                            type="checkbox"
                                            value="French"
                                    /><label class="main__filter__body-label" for="checkbox_22">French</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_23"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Fresh+Fish"
                                    /><label class="main__filter__body-label" for="checkbox_23">Fresh Fish</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_24"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Greek"
                                    /><label class="main__filter__body-label" for="checkbox_24">Greek</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_25"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Grill"
                                    /><label class="main__filter__body-label" for="checkbox_25">Grill</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_26"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Healthy+Food"
                                    /><label class="main__filter__body-label" for="checkbox_26">Healthy Food</label>
                                </div>

                                 <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_27"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Hungarian"
                                    /><label class="main__filter__body-label" for="checkbox_27">Hungarian</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_28"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Ice+Cream"
                                    /><label class="main__filter__body-label" for="checkbox_28">Ice Cream</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_29"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Indian"
                                    /><label class="main__filter__body-label" for="checkbox_29">Indian</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_30"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Indonesian"
                                    /><label class="main__filter__body-label" for="checkbox_30">Indonesian</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_31"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Italian"
                                    /><label class="main__filter__body-label" for="checkbox_31">Italian</label>
                                </div>

                                 <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_32"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Japanese"
                                    /><label class="main__filter__body-label" for="checkbox_32">Japanese</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_33"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Juices"
                                    /><label class="main__filter__body-label" for="checkbox_33">Juices</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_34"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Kebab"
                                    /><label class="main__filter__body-label" for="checkbox_34">Kebab</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_35"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Korean"
                                    /><label class="main__filter__body-label" for="checkbox_35">Korean</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_36"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Lebanese"
                                    /><label class="main__filter__body-label" for="checkbox_36">Lebanese</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_37"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Mediterranean"
                                    /><label class="main__filter__body-label" for="checkbox_37">Mediterranean</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_38"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Mexican"
                                    /><label class="main__filter__body-label" for="checkbox_38">Mexican</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_39"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Pakistani"
                                    /><label class="main__filter__body-label" for="checkbox_39">Pakistani</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_40"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Pizza"
                                    /><label class="main__filter__body-label" for="checkbox_40">Pizza</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_41"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Russian"
                                    /><label class="main__filter__body-label" for="checkbox_41">Russian</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_42"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Seafood"
                                    /><label class="main__filter__body-label" for="checkbox_42">Seafood</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_43"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Slovak"
                                    /><label class="main__filter__body-label" for="checkbox_43">Slovak</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_44"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Spanish"
                                    /><label class="main__filter__body-label" for="checkbox_44">Spanish</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_45"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Steak"
                                    /><label class="main__filter__body-label" for="checkbox_45">Steak</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_46"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Sushi"
                                    /><label class="main__filter__body-label" for="checkbox_46">Sushi</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_47"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Tapas"
                                    /><label class="main__filter__body-label" for="checkbox_47">Tapas</label>
                                </div>


                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_48"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Tex-+Mex"
                                    /><label class="main__filter__body-label" for="checkbox_48">Tex-Mex</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_49"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Thai"
                                    /><label class="main__filter__body-label" for="checkbox_49">Thai</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_50"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Turkish"
                                    /><label class="main__filter__body-label" for="checkbox_50">Turkish</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_51"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Venison"
                                    /><label class="main__filter__body-label" for="checkbox_51">Venison</label>
                                </div>

                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_52"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Vietnamese"
                                    /><label class="main__filter__body-label" for="checkbox_52">Vietnamese</label>
                                </div>

                            </div>
                            <div class="main__filter__body-elem"></div>
                            <span class="main__filter__body-show-more main__filter__body-show-more-btn"
                            >Show more</span
                            >
                        </div>
                    </div>

              <div class="main__filter__item main__filter__checkbox-item">
                <div class="main__filter__item-head">
                  <h3>Dietary Preferences</h3>
                </div>
                <div class="main__filter__body">
                  <div class="main__filter__body-elem">
                    <input
                      class="main__filter__body-input"
                      hidden
                      id="checkbox_53"
                      name="vegetarian"
                      type="checkbox"
                      value="Vegetarian"
                    /><label class="main__filter__body-label" for="checkbox_53"
                      >Vegetarian</label
                    >
                  </div>
                  <div class="main__filter__body-elem">
                    <input
                      class="main__filter__body-input"
                      hidden
                      id="checkbox_54"
                      name="vegan"
                      type="checkbox"
                      value="Vegan"
                    /><label class="main__filter__body-label" for="checkbox_54"
                      >Vegan</label
                    >
                  </div>
                  <div class="main__filter__body-elem">
                    <input
                      class="main__filter__body-input"
                      hidden
                      id="checkbox_55"
                      name="gluten_free"
                      type="checkbox"
                      value="Gluten+Free"
                    /><label class="main__filter__body-label" for="checkbox_55"
                      >Gluten Free</label
                    >
                  </div>
                </div>
              </div>
              <div class="main__filter__item main__filter__checkbox-item">
                <div class="main__filter__item-head">
                  <h3>Others</h3>
                </div>
                <div class="main__filter__body">
                  <div class="main__filter__body-elem">
                    <input
                      class="main__filter__body-input"
                      hidden
                      id="checkbox_56"
                      name="credit_card"
                      type="checkbox"
                      value="Payment+by+card"
                    /><label class="main__filter__body-label" for="checkbox_56"
                      >Payment by card</label
                    >
                  </div>
                  <div class="main__filter__body-elem">
                    <input
                      class="main__filter__body-input"
                      hidden
                      id="checkbox_57"
                      name="takeaway"
                      type="checkbox"
                      value="Takeaway+option"
                    /><label class="main__filter__body-label" for="checkbox_57"
                      >Takeaway option</label
                    >
                  </div>
                </div>
              </div>
              <div class="main__filter__btn-block">
                <button
                  class="main__filter__body-search-btn main__filter__body__btn-neuro"
                >
                  <span>Search</span></button
                ><button
                  class="main__filter__body-refresh-btn main__filter__body__btn-neuro"
                >
                  <span>Refresh</span>
                </button>
              </div>
            </div>
          </section>
          <section class="restaurant-view">
            {% if data|length %} {% for row in data %}

            <div
              class="restaurant-view__restaurant-card"
              data-price="{{row[5]}}"
              data-rating="{{row[4]}}"
            >
              <div class="restaurant-view__top-block">
                <div
                  class="restaurant-view__card-photo"
                  style="background-image:url('{{row[3]}}')"
                ></div>
                <div class="restaurant-view__card-info">
                  <div class="restaurant-view__card-info-top">
                    <h3 class="restaurant-view__card-name">{{row[1]}}</h3>
                    {% if row[0] in like_list %}
                    <button
                      class="restaurant-view__like-btn"
                      data-rest-id="{{row[0]}}"
                    >
                      <svg
                        class="restaurant-view__full-star-icon restaurant-view__like-svg"
                      >
                        <use
                          xlink:href="../static/img/sprite.svg#icon-star-full"
                        ></use>
                      </svg>
                    </button>
                    {% else %}
                    <button
                      class="restaurant-view__like-btn"
                      data-rest-id="{{row[0]}}"
                    >
                      <svg
                        class="restaurant-view__empty-star-icon restaurant-view__like-svg"
                      >
                        <use
                          xlink:href="../static/img/sprite.svg#icon-star-empty"
                        ></use>
                      </svg>
                    </button>
                    {% endif %}
                  </div>
                  <div class="restaurant-view__card-info-middle">
                    <span
                      class="restaurant-view__visible-card-address restaurant-view__option"
                      >Address: {{row[2]}}</span
                    >

                    <span
                      class="restaurant-view__visible-card-cuisisne restaurant-view__option"
                      >Cuisine: {% if row[18] %} {{row[18]}} {% elif row[16] %}
                      {{row[16]}} {% endif %} </span
                    ><span
                      class="restaurant-view__visible-card-rating restaurant-view__option"
                      >Rating: {{row[4]}}</span
                    ><span
                      class="restaurant-view__visible-card-price restaurant-view__option"
                      >Price range: {{row[5]}}
                    </span>

                    {% if row[19] %}

                    <span
                      class="restaurant-view__visible-card-distance restaurant-view__option"
                    >
                      Distance: {{row[19]}} km</span
                    >
                    {% endif %} {% if row[20] %}
                    <span
                      class="restaurant-view__visible-card-time restaurant-view__option"
                      >Time: {{row[20]}} min</span
                    >
                    {% endif %}
                  </div>
                </div>
              </div>
                <div class="restaurant-view__bottom-block">
                        <div class="restaurant-view__bottom-block-options">

                            {% if row[7] == 1 %}
                            <span class="restaurant-view__visible-card-time restaurant-view__option">
                                Vegan options
                            </span>
                            {% endif %}
                            {% if row[8] == 1 %}
                            <span class="restaurant-view__visible-card-time restaurant-view__option">
                                Vegetarian options
                            </span>
                            {% endif %}
                            {% if row[9] == 1 %}
                            <span class="restaurant-view__visible-card-time restaurant-view__option">
                                Gluten Free options
                            </span>
                            {% endif %}


                            {% if row[10] == 1 %}
                            <span class="restaurant-view__bottom-block-card-payement restaurant-view__option">
                                Payment by card: Cards are accepted
                            </span>
                            {% else %}
                            <span class="restaurant-view__bottom-block-card-payement restaurant-view__option">
                                Payment by card: Cards are not accepted
                            </span>
                            {% endif %}


                            {% if row[11] == 1 %}
                            <span class="restaurant-view__bottom-block-takeaway restaurant-view__option">
                                Takeaway option: Available
                            </span>
                            {% else %}
                            <span class="restaurant-view__bottom-block-takeaway restaurant-view__option">
                                Takeaway option: Not avaialble
                            </span>
                            {% endif %}


                            <span class="restaurant-view__bottom-block-phone restaurant-view__option">
                            {% if row[12]!='0' %}
                                Phone number: {{row[12]}}
                            {% endif %}

                            {% if row[13]!='0' %}
                                , {{row[13]}}
                            {% endif %}
                            </span>


                            <a class="restaurant-view__bottom-block-menu-url restaurant-view__option"
                               href="{{row[14]}}" target="_blank">
                                Usual menu
                            </a>

                        </div>


                        <div class="restaurant-view__bottom-block-daily-menu">
                            <div class="restaurant-view__bottom-block-daily-menu-header">
                                <h3>Daily menu</h3>
                            </div>
                            <div class="restaurant-view__bottom-block-daily-menu-menu">
                                <div
                                        class="restaurant-view__bottom-block-daily-menu-menu__block">
                                    {{row[15]}}

                                </div>
                            </div>
                        </div>

                    </div>
              <div class="restaurant-view__show-more">
                <span>Show more</span>
              </div>
            </div>

            {% endfor %} {% else %}
            <span>No restaurants found</span>
            {% endif %}
          </section>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <img
          alt="Full logo"
          class="footer__logo"
          src="../static/img/logo.png"
        />
      </div>
      <div class="footer__copyright">
        <p class="footer__copyright__text">All right reserved</p>
      </div>
    </footer>
    <script src="../static/js/sort.js"></script>
    <script src="../static/js/restCard.js"></script>
    <script src="../static/js/filter.js"></script>
    <script src="../static/js/filterOpen.js"></script>
    <script src="../static/js/favourites.js"></script>
  </body>
</html>
