<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ url_for('static', filename='css/icon-font.css') }}" rel="stylesheet">



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>EasyEats</title>
  </head>
  <body>
    <main class="main">
      <div class="link-block">
        <a href="/signup" class="btn-form-link btn--white"
          >Sign up

        </a>
      </div>
      <div class="login-signup-form">
        <h2 class="heading-secondary ma-bt-lg">Log into your account</h2>
        <form class="form">
          <div class="form__group">
            <label class="form__label" for="email">Email address</label
            ><input
              class="form__input"
              id="email"
              type="email"
              placeholder="you@example.com"
              required="required"
            />
          </div>
          <div class="form__group ma-bt-md">
            <label class="form__label" for="password">Password</label
            ><input
              class="form__input"
              id="password"
              type="password"
              placeholder="••••••••"
              required="required"
              minlength="8"
            />
          </div>
          <div class="form__group">
            <button id="#login" class="btn-form btn--green">Login</button>
          </div>
        </form>
      </div>
    </main>
  <script src="../static/js/login.js"></script>
  </body>
</html>
