<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />


    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon" type="image/png">


    <title>EasyEats</title>
  </head>
  <body>
    <header class="header_redirect">
      <div class="header__logo-box">
        <img alt="Logo" class="header__logo" src="../static/img/logo.png" />
      </div>

      <div class="header__text-box">
        <h1 class="heading-primary">

          <span class="heading-primary--sub-redirect"
            >Your session has expired, please, log in</span
          >
        </h1>


      </div>
       <script src="../static/js/redirect.js"></script>
    </header>
