<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <!--    <link rel="stylesheet" href="css/icon-font.css" />-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title>Best Prague restaurants</title>
</head>
<body>
<header class="header">
    <div class="header__logo-box">
        <img src="../static/img/logo.png" alt="Logo" class="header__logo"/>
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Easy Eats</span>
            <span class="heading-primary--sub">We'll make small decisions for you!</span>
        </h1>

        <a href="#main__container" class="btn btn--white btn--entry"
        >Discover best restaurants of Prague</a
        >
    </div>
</header>
<main class="main">
    <div class="main__container" id="main__container">
        <div class="main__header">
            <img
                    src="../static/img/logo.png"
                    alt="restApp logo"
                    class="main__header__logo"
            />

            <div class="main__header__sort-controller">
                <span>Sort by:&nbsp&nbsp</span>
                <select class="main__header__sort-select" id="sortOptions"
                >
                    <p>
                        <option class="main__header__sort-opt" value="rating-sort-desc"
                        >Rating fom high to low
                        </option
                        >
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="rating-sort-asc"
                        >Rating fom low to high
                        </option
                        >
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="price-sort-asc"
                        >Price fom low to high
                        </option
                        >
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="price-sort-desc"
                        >Price fom high to low
                        </option
                        >
                    </p>
                </select
                >
            </div>
        </div>
        <div class="main__content">
            <section class="main__sidebar">
                <div class="main__filter">
                    <div class="main__filter__item">
                        <div class="main__filter__item-head">
                            <h3>Location</h3>
                        </div>
                        <div class="main__filter__item-body">
                            <input
                                    type="text"
                                    name="address"
                                    class="main__address-input"
                                    value=""
                                    placeholder="Enter your location (street name)"
                            />
                        </div>
                    </div>

                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head"><h3>Cuisine</h3></div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_1"
                                        type="checkbox"
                                        value="American"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_1">American</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_2"
                                        type="checkbox"
                                        value="Asian"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_2">Asian</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_3"
                                        type="checkbox"
                                        value="BBQ"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_3">BBQ</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_4"
                                        type="checkbox"
                                        value="Bakery"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_4">Bakery</label>
                            </div>
                        <div class="main__filter__body-hidden">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_5"
                                        type="checkbox"
                                        value="Beverages"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_5">Beverages</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_6"
                                        type="checkbox"
                                        value="British"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_6">British</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_7"
                                        type="checkbox"
                                        value="Burger"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_7">Burger</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_8"
                                        type="checkbox"
                                        value="Cafe"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_8">Cafe</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_9"
                                        type="checkbox"
                                        value="Coffee+and+Tea"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_9"
                            >Coffee and Tea</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_10"
                                        type="checkbox"
                                        value="Crepes"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_10">Crepes</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_11"
                                        type="checkbox"
                                        value="Desserts"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_11">Desserts</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_12"
                                        type="checkbox"
                                        value="Czech"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_12">Czech</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_13"
                                        type="checkbox"
                                        value="Fast+Food"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_13"
                            >Fast Food</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_14"
                                        type="checkbox"
                                        value="French"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_14">French</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_15"
                                        type="checkbox"
                                        value="Seafood"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_15">Seafood</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_16"
                                        type="checkbox"
                                        value="German"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_16">German</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_17"
                                        type="checkbox"
                                        value="Grill"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_17">Grill</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_18"
                                        type="checkbox"
                                        value="Healthy+Food"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_18"
                            >Healthy Food</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_19"
                                        type="checkbox"
                                        value="Ice+Cream"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_19"
                            >Ice Cream</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_20"
                                        type="checkbox"
                                        value="Indian"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_20">Indian</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_21"
                                        type="checkbox"
                                        value="Irish"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_21">Irish</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_22"
                                        type="checkbox"
                                        value="Italian"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_22">Italian</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_23"
                                        type="checkbox"
                                        value="Juices"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_23">Juices</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_24"
                                        type="checkbox"
                                        value="Kebab"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_24">Kebab</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_25"
                                        type="checkbox"
                                        value="Thai"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_25">Thai</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_26"
                                        type="checkbox"
                                        value="Latin+American"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_26"
                            >Latin American</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_27"
                                        type="checkbox"
                                        value="Mediterranean"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_27"
                            >Mediterranean</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_29"
                                        type="checkbox"
                                        value="Oriental"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_29">Oriental</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_30"
                                        type="checkbox"
                                        value="Pizza"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_30">Pizza</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_31"
                                        type="checkbox"
                                        value="Russian"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_31">Russian</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_32"
                                        type="checkbox"
                                        value="Steak"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_32">Steak</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_33"
                                        type="checkbox"
                                        value="Sushi"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_33">Sushi</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_34"
                                        type="checkbox"
                                        value="Vegetarian"
                                        hidden=""
                                        name="cuisines"
                                /><label class="main__filter__body-label" for="checkbox_34"
                            >Vegetarian</label>
                            </div>
                        </div>
                        <div class="main__filter__body-elem"></div>
                            <span class="main__filter__body-show-more main__filter__body-show-more-btn"
                            >Show more</span
                            >
                        </div>
                    </div>

                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head">
                            <h3>Dietary Restrictions</h3>
                        </div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_35"
                                        type="checkbox"
                                        value="Vegetarian"
                                        name = "Vegetarian"
                                        hidden
                                /><label class="main__filter__body-label" for="checkbox_35"
                            >Vegetarian</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_36"
                                        type="checkbox"
                                        value="Vegan"
                                        name = "Vegan"
                                        hidden
                                /><label class="main__filter__body-label" for="checkbox_36"
                            >Vegan</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_37"
                                        type="checkbox"
                                        value="Gluten+Free"
                                        name = "Gluten+Free"
                                        hidden
                                /><label class="main__filter__body-label" for="checkbox_37"
                            >Gluten Free</label
                            >
                            </div>

                        </div>
                    </div>
                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head">
                            <h3>Others</h3>
                        </div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_38"
                                        type="checkbox"
                                        value="Payment+by+card"
                                        name="Payment+by+card"
                                        hidden
                                /><label class="main__filter__body-label" for="checkbox_38"
                            >Payment by card</label
                            >
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        id="checkbox_39"
                                        type="checkbox"
                                        value="Takeaway+option"
                                        name="Takeaway+option"
                                        hidden
                                /><label class="main__filter__body-label" for="checkbox_39"
                            >Takeaway option</label
                            >
                            </div>


                        </div>
                    </div>
                    <a
                            href="/"
                            class="main__filter__body-search-btn main__filter__body-search-btn--grey"
                    >Search</a
                    >
                </div>
            </section>
            <section class="restaurant-view">

                {% for row in data %}

                <div class="restaurant-view__restaurant-card" data-price="{{row[5]}}" data-rating="{{row[4]}}"
                     >
                    <div class="restaurant-view__top-block">
                        <div class="restaurant-view__card-photo" style="background-image:url('{{row[3]}}')"></div>
                        <div class="restaurant-view__card-info">
                            <div class="restaurant-view__card-info-top">
                                <h3 class="restaurant-view__card-name">{{row[1]}}</h3>
                                <button class="restaurant-view__like-btn">Like</button>
                            </div>
                            <div class="restaurant-view__card-info-middle">
                      <span
                              class="restaurant-view__visible-card-address restaurant-view__option"
                      >Address: {{row[2]}}</span
                      ><span
                                    class="restaurant-view__visible-card-cuisisne restaurant-view__option"
                            >Cuisine: {{row[18]}}</span
                            ><span
                                    class="restaurant-view__visible-card-rating restaurant-view__option"
                            >Rating: {{row[4]}}</span
                            ><span
                                    class="restaurant-view__visible-card-price restaurant-view__option"
                            >Price range: {{row[5]}}</span
                            >
                                <span
                                        class="restaurant-view__visible-card-distance restaurant-view__option"
                                >Distance: {{row[19]}} km</span
                                ><span
                                    class="restaurant-view__visible-card-time restaurant-view__option"
                            >Time: {{row[20]}} min</span
                            >
                            </div>
                        </div>
                    </div>
                    <div class="restaurant-view__bottom-block">
                        <div class="restaurant-view__bottom-block-options">
                    <h3 class="restaurant-view__bottom-block-dietary">Dietary options:</h3> <!--Changed span to h3-->

                            <p>{{row[7]}}</p>
                            <p>{{row[8]}}</p>
                            <p>{{row[9]}}</p>
                            <span
                                    class="restaurant-view__bottom-block-card-payement restaurant-view__option"
                            >Payment by card: {{row[10]}}</span
                            >
                            <span
                                    class="restaurant-view__bottom-block-takeaway restaurant-view__option"
                            >Takeaway option: {{row[11]}}</span
                            ><span
                                class="restaurant-view__bottom-block-phone restaurant-view__option"
                        >Phone number: {{row[12]}}, {{row[13]}}</span
                        ><span
                                class="restaurant-view__bottom-block-menu-url restaurant-view__option"
                        >Usual menu: {{row[14]}}</span
                        >
                        </div>
                        <div class="restaurant-view__bottom-block-daily-menu">
                            <div class="restaurant-view__bottom-block-daily-menu-header">
                                <h3>Daily menu</h3>
                            </div>
                            <div class="restaurant-view__bottom-block-daily-menu-menu">
                                <div
                                        class="restaurant-view__bottom-block-daily-menu-menu__block"
                                >{{row[15]}}
                                    
                                    <!--<div
                                            class="restaurant-view__bottom-block-daily-menu-menu__block__string"
                                    >
                                        <span>Name</span><span>Price</span>
                                    </div>
                                    <div
                                            class="restaurant-view__bottom-block-daily-menu-menu__block__string"
                                    >
                                        <span>Name</span><span>Price</span>
                                    </div>
                                </div>
                                <div
                                        class="restaurant-view__bottom-block-daily-menu-menu__block"
                                >
                                    <div
                                            class="restaurant-view__bottom-block-daily-menu-menu__block__string"
                                    >
                                        <span>Name</span><span>Price</span>
                                    </div>
                                    <div
                                            class="restaurant-view__bottom-block-daily-menu-menu__block__string"
                                    >
                                        <span>Name</span><span>Price</span>
                                    </div>
                                </div>
                                <div
                                        class="restaurant-view__bottom-block-daily-menu-menu__block"
                                >
                                    <div
                                            class="restaurant-view__bottom-block-daily-menu-menu__block__string"
                                    >
                                        <span>Name</span><span>Price</span>
                                    </div>
                                    <div
                                            class="restaurant-view__bottom-block-daily-menu-menu__block__string"
                                    >
                                        <span>Name</span><span>Price</span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="restaurant-view__show-more">Show more</button>
                </div>

                {% endfor %}

            </section>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__logo-box">
        <img src="../static/img/logo.png" alt="Full logo" class="footer__logo"/>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright__text">All right reserved</p>
    </div>
</footer>
<script src="../static/js/sort.js"></script>
<script src="../static/js/restCard.js"></script>
<script src="../static/js/filters.js"></script>
<script src="../static/js/filterOpen.js"></script>


</body>
</html>
