<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />


    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon" type="image/png">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title>Best Prague restaurants</title>
</head>
<body>
<header class="header">
    <div class="header__logo-box">
        <img alt="Logo" class="header__logo" src="../static/img/logo.png"/>
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Easy Eats</span>
            <span class="heading-primary--sub">We'll make small decisions for you!</span>
        </h1>

        <a class="btn btn--white btn--entry" href="#main__container"
        >Discover best restaurants of Prague</a>
    </div>
</header>
<main class="main">
    <div class="main__container" id="main__container">
        <div class="main__header">
            <img
                    alt="restApp logo"
                    class="main__header__logo"
                    src="../static/img/logo.png"
            />

            <div class="main__header__sort-controller">
                <span>Sort by:&nbsp&nbsp</span>
                <select class="main__header__sort-select" id="sortOptions">
                    <p>
                        <option class="main__header__sort-opt" value="rating-sort-desc"
                        >Rating fom high to low
                        </option>
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="rating-sort-asc"
                        >Rating fom low to high
                        </option>
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="price-sort-asc"
                        >Price fom low to high
                        </option>
                    </p>
                    <p>
                        <option class="main__header__sort-opt" value="price-sort-desc"
                        >Price fom high to low
                        </option>
                    </p>
                </select
                >
            </div>
        </div>
        <div class="main__content">
            <section class="main__sidebar">
                <div class="main__filter">
                    <div class="main__filter__item">
                        <div class="main__filter__item-head">
                            <h3>Location</h3>
                        </div>
                        <div class="main__filter__item-body">
                            <input
                                    class="main__address-input"
                                    name="address"
                                    placeholder="Enter your location (street name)"
                                    type="text"
                                    value=""
                            />
                        </div>
                    </div>

                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head"><h3>Cuisine</h3></div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_1"
                                        name="cuisines"
                                        type="checkbox"
                                        value="American"
                                /><label class="main__filter__body-label" for="checkbox_1">American</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_2"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Asian"
                                /><label class="main__filter__body-label" for="checkbox_2">Asian</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_3"
                                        name="cuisines"
                                        type="checkbox"
                                        value="BBQ"
                                /><label class="main__filter__body-label" for="checkbox_3">BBQ</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden=""
                                        id="checkbox_4"
                                        name="cuisines"
                                        type="checkbox"
                                        value="Bakery"
                                /><label class="main__filter__body-label" for="checkbox_4">Bakery</label>
                            </div>
                            <div class="main__filter__body-hidden">
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_5"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Beverages"
                                    /><label class="main__filter__body-label" for="checkbox_5">Beverages</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_6"
                                            name="cuisines"
                                            type="checkbox"
                                            value="British"
                                    /><label class="main__filter__body-label" for="checkbox_6">British</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_7"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Burger"
                                    /><label class="main__filter__body-label" for="checkbox_7">Burger</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_8"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Cafe"
                                    /><label class="main__filter__body-label" for="checkbox_8">Cafe</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_9"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Coffee+and+Tea"
                                    /><label class="main__filter__body-label" for="checkbox_9">Coffee and Tea</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_10"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Crepes"
                                    /><label class="main__filter__body-label" for="checkbox_10">Crepes</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_11"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Desserts"
                                    /><label class="main__filter__body-label" for="checkbox_11">Desserts</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_12"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Czech"
                                    /><label class="main__filter__body-label" for="checkbox_12">Czech</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_13"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Fast+Food"
                                    /><label class="main__filter__body-label" for="checkbox_13">Fast Food</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_14"
                                            name="cuisines"
                                            type="checkbox"
                                            value="French"
                                    /><label class="main__filter__body-label" for="checkbox_14">French</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_15"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Seafood"
                                    /><label class="main__filter__body-label" for="checkbox_15">Seafood</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_16"
                                            name="cuisines"
                                            type="checkbox"
                                            value="German"
                                    /><label class="main__filter__body-label" for="checkbox_16">German</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_17"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Grill"
                                    /><label class="main__filter__body-label" for="checkbox_17">Grill</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_18"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Healthy+Food"
                                    /><label class="main__filter__body-label" for="checkbox_18">Healthy Food</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_19"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Ice+Cream"
                                    /><label class="main__filter__body-label" for="checkbox_19">Ice Cream</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_20"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Indian"
                                    /><label class="main__filter__body-label" for="checkbox_20">Indian</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_21"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Irish"
                                    /><label class="main__filter__body-label" for="checkbox_21">Irish</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_22"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Italian"
                                    /><label class="main__filter__body-label" for="checkbox_22">Italian</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_23"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Juices"
                                    /><label class="main__filter__body-label" for="checkbox_23">Juices</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_24"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Kebab"
                                    /><label class="main__filter__body-label" for="checkbox_24">Kebab</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_25"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Thai"
                                    /><label class="main__filter__body-label" for="checkbox_25">Thai</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_26"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Latin+American"
                                    /><label class="main__filter__body-label" for="checkbox_26">Latin American</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_27"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Mediterranean"
                                    /><label class="main__filter__body-label" for="checkbox_27">Mediterranean</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_29"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Oriental"
                                    /><label class="main__filter__body-label" for="checkbox_29">Oriental</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_30"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Pizza"
                                    /><label class="main__filter__body-label" for="checkbox_30">Pizza</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_31"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Russian"
                                    /><label class="main__filter__body-label" for="checkbox_31">Russian</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_32"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Steak"
                                    /><label class="main__filter__body-label" for="checkbox_32">Steak</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_33"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Sushi"
                                    /><label class="main__filter__body-label" for="checkbox_33">Sushi</label>
                                </div>
                                <div class="main__filter__body-elem">
                                    <input
                                            class="main__filter__body-input"
                                            hidden=""
                                            id="checkbox_34"
                                            name="cuisines"
                                            type="checkbox"
                                            value="Vegetarian"
                                    /><label class="main__filter__body-label" for="checkbox_34">Vegetarian</label>
                                </div>
                            </div>
                            <div class="main__filter__body-elem"></div>
                            <span class="main__filter__body-show-more main__filter__body-show-more-btn"
                            >Show more</span
                            >
                        </div>
                    </div>

                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head">
                            <h3>Dietary Preferences</h3>
                        </div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden
                                        id="checkbox_35"
                                        name="vegetarian"
                                        type="checkbox"
                                        value="Vegetarian"
                                /><label class="main__filter__body-label" for="checkbox_35">Vegetarian</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden
                                        id="checkbox_36"
                                        name="vegan"
                                        type="checkbox"
                                        value="Vegan"
                                /><label class="main__filter__body-label" for="checkbox_36">Vegan</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden
                                        id="checkbox_37"
                                        name="gluten_free"
                                        type="checkbox"
                                        value="Gluten+Free"
                                /><label class="main__filter__body-label" for="checkbox_37">Gluten Free</label>
                            </div>

                        </div>
                    </div>
                    <div class="main__filter__item main__filter__checkbox-item">
                        <div class="main__filter__item-head">
                            <h3>Others</h3>
                        </div>
                        <div class="main__filter__body">
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden
                                        id="checkbox_38"
                                        name="credit_card"
                                        type="checkbox"
                                        value="Payment+by+card"
                                /><label class="main__filter__body-label" for="checkbox_38">Payment by card</label>
                            </div>
                            <div class="main__filter__body-elem">
                                <input
                                        class="main__filter__body-input"
                                        hidden
                                        id="checkbox_39"
                                        name="takeaway"
                                        type="checkbox"
                                        value="Takeaway+option"
                                /><label class="main__filter__body-label" for="checkbox_39">Takeaway option</label>
                            </div>


                        </div>
                    </div>
                    <a
                            class="main__filter__body-search-btn main__filter__body-search-btn--grey"
                            href="/"
                    >Search
                    </a>
                </div>
            </section>
            <section class="restaurant-view">

                {% for row in data %}

                <div class="restaurant-view__restaurant-card" data-price="{{row[5]}}" data-rating="{{row[4]}}">
                    <div class="restaurant-view__top-block">
                        <div class="restaurant-view__card-photo" style="background-image:url('{{row[3]}}')"></div>
                        <div class="restaurant-view__card-info">
                            <div class="restaurant-view__card-info-top">
                                <h3 class="restaurant-view__card-name">{{row[1]}}</h3>
                                <button class="restaurant-view__like-btn">Like</button>
                            </div>
                            <div class="restaurant-view__card-info-middle">
                      <span
                              class="restaurant-view__visible-card-address restaurant-view__option">
                          Address: {{row[2]}}
                      </span>

                                <span
                                        class="restaurant-view__visible-card-cuisisne restaurant-view__option"
                                >Cuisine: {{row[18]}}</span
                                ><span
                                    class="restaurant-view__visible-card-rating restaurant-view__option"
                            >Rating: {{row[4]}}</span
                            ><span
                                    class="restaurant-view__visible-card-price restaurant-view__option">
                                Price range: {{row[5]}}

                            </span>

                                <span
                                        class="restaurant-view__visible-card-distance restaurant-view__option">
                                    Distance: {{row[19]}} km</span>
                                <span
                                    class="restaurant-view__visible-card-time restaurant-view__option">
                                    Time: {{row[20]}} min
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="restaurant-view__bottom-block">
                        <div class="restaurant-view__bottom-block-options">
                            <h3 class="restaurant-view__bottom-block-dietary">Dietary options:</h3>

                            <p>{{row[7]}}</p>
                            <p>{{row[8]}}</p>
                            <p>{{row[9]}}</p>
                            <span
                                    class="restaurant-view__bottom-block-card-payement restaurant-view__option">
                                Payment by card: {{row[10]}}
                            </span>
                            <span
                                    class="restaurant-view__bottom-block-takeaway restaurant-view__option">
                                Takeaway option: {{row[11]}}

                            </span>
                            <span
                                class="restaurant-view__bottom-block-phone restaurant-view__option">
                                Phone number: {{row[12]}}, {{row[13]}}
                            </span>

                            <a class="restaurant-view__bottom-block-menu-url restaurant-view__option"
                            href="{{row[14]}}">
                                Usual menu
                            </a>
                        </div>
                        <div class="restaurant-view__bottom-block-daily-menu">
                            <div class="restaurant-view__bottom-block-daily-menu-header">
                                <h3>Daily menu</h3>
                            </div>
                            <div class="restaurant-view__bottom-block-daily-menu-menu">
                                <div
                                        class="restaurant-view__bottom-block-daily-menu-menu__block">
                                    {{row[15]}}

                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="restaurant-view__show-more">Show more</button>
                </div>

                {% endfor %}

            </section>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__logo-box">
        <img alt="Full logo" class="footer__logo" src="../static/img/logo.png"/>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright__text">All rights reserved</p>
    </div>
</footer>
<script src="../static/js/sort.js"></script>
<script src="../static/js/restCard.js"></script>
<script src="../static/js/filters.js"></script>
<script src="../static/js/filterOpen.js"></script>


</body>
</html>
