<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="google-signin-client_id" content="631949653262-h7qss94a1ft44o8jl0airifqvl21kmlt.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <title>Google Sign-in Test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Guess the pokemon</h1>
        <img class="blank" src ="{{ url_for('static', filename='images/pikachub.png')}}">
        <p class="sign-in-text">To view the answer please sign in with google:</p>
        <div id="my-signin2"></div>
        <script>
            function onSuccess(googleUser) {
                console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
            }
            function onFailure(error) {
                console.log(error);
            }
            function renderButton() {
                gapi.signin2.render('my-signin2', {
                    'scope': 'profile email',
                    'width': 240,
                    'height': 50,
                    'longtitle': true,
                    'theme': 'dark',
                    'onsuccess': onSuccess,
                    'onfailure': onFailure
                });
            }
        </script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    </body>
</html>
