*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
   }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out; }

.sidebar {
  color: #faf9f9;
  font-size: 2.4rem;
  margin-top: 3.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--entry {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.restaurant-view__restaurant-card {
  margin-bottom: 5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: height 0.3s ease; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(124, 149, 143, 0.59), rgba(90, 165, 134, 0.52)), url("../img/restaurant.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 50px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.main {
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, rgba(11, 143, 113, 0.8), rgba(123, 153, 140, 0.27));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25rem 0;
  margin-top: -20vh; }
  .main__container {
    max-width: 130rem;
    margin: 1rem auto;
    background-color: inherit;
    min-height: 50rem;
    display: flex;
    flex-direction: column; }
  .main__sidebar {
    background-color: #fff;
    color: #000;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem; }
  .main__header {
    height: 7rem;
    background-color: #fff;
    border-bottom: #f4f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
    .main__header__sort-select {
      outline: none; }
    .main__header__logo {
      height: 4.25rem;
      margin-left: 3rem; }

    .main__header__sort-controller {
      margin-right: 3rem;
      color: #000;
      outline: none; }
  .main__content {
    display: flex; }
  .main__filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 1rem 4rem 0 4rem; }
    .main__filter__body-hidden {
      display: none; }
      .main__filter__body-hidden--visable {
        display: block; }
    .main__filter__body-elem {
      margin-bottom: 0.5rem; }
    .main__filter__button {
      padding: 1rem 0 1rem 0;
      display: flex;
      justify-content: center; }
    .main__filter__submit {
      width: 50%;
      cursor: pointer; }
    .main__filter__checkbox-item {
      padding-bottom: 1rem;
      padding-top: 1rem;
      position: relative; }
      .main__filter__checkbox-item::after {
        content: "";
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 80%;
        border: 0.1px solid #000; }
    .main__filter__item-body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 60px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      text-decoration: none; }
    .main__filter__body-label {
      display: block;
      margin: 0.2em;
      margin-left: 2rem;
      cursor: pointer;
      padding: 0.2em;
      position: relative; }
      .main__filter__body-label::before {
        content: "";
        position: absolute;
        left: -2rem;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #000;
        border-radius: 0.2em;
        display: inline-block;
        width: 1em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: 0.2s; }
    .main__filter__body-show-more {
      position: relative;
      cursor: pointer;
      border-bottom: 1px dashed #000; }
      .main__filter__body-show-more:hover {
        border-bottom: 1px solid #000; }
      .main__filter__body-show-more::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #000;
        background-color: #fff;
        left: 100%;
        top: 80%;
        transform: translateY(-80%); }
    .main__filter__body-show-more-visable {
      position: relative;
      cursor: pointer;
      border-bottom: 1px dashed #000; }
      .main__filter__body-show-more-visable:hover {
        border-bottom: 1px solid #000; }
      .main__filter__body-show-more-visable::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #000;
        background-color: #fff;
        left: 100%;
        top: 80%;
        transform: translateY(-80%); }
     
    .main__filter__body-input:checked ~ .main__filter__body-label::before {
      background-color: #28b485; }
    .main__filter__body-search-btn:link, .main__filter__body-search-btn:visited {
      text-transform: uppercase;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-decoration: none;
      padding: 10px 15px;
      display: inline-block;
      text-align: center; }
    .main__filter__body-search-btn--grey {
      background-color: #777;
      color: #fff; }
  .main__address-input {
    font-family: inherit;
    color: #000;
    background-color: #f4f2f2;
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 100%;
    transition: all 0.2s;
    font-size: 1.5rem;
    outline: none; }

  .main .restaurant-view {
    background-color: #f0eeee;
    min-height: 80rem;
    flex: 1;
    color: #000; }
    .main .restaurant-view__top-block {
      display: flex;
      flex-direction: row;
      height: 25rem;
      line-height: 3.5rem; }
    .main .restaurant-view__card-photo {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      flex-basis: 30%;
      height: 100%; }
    .main .restaurant-view__card-info {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex-basis: 70%;
      flex-grow: 1; }
    .main .restaurant-view__card-info-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .main .restaurant-view__card-info-middle {
      display: flex;
      flex-direction: column; }
    .main .restaurant-view__option {
      font-size: 1.7rem;
      line-height: 3rem; }
    .main .restaurant-view__bottom-block {
      padding: 1rem;
      flex-direction: column;
      display: none; }
    .main .restaurant-view__bottom-block-options {
      display: flex;
      flex-direction: column; }
    .main .restaurant-view__bottom-block-visable {
      display: flex; }
    .main .restaurant-view__bottom-block-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .main .restaurant-view__bottom-block-daily-menu {
      display: flex;
      flex-direction: column; }
    .main .restaurant-view__bottom-block-daily-menu-header {
      display: flex;
      justify-content: center;
      margin: 1rem; }
    .main .restaurant-view__bottom-block-daily-menu-menu {
      display: flex;
      justify-content: space-between; }
      .main .restaurant-view__bottom-block-daily-menu-menu__block {
        display: flex;
        flex-direction: column; }
        .main .restaurant-view__bottom-block-daily-menu-menu__block__string > span {
          margin-right: 2rem; }
    .main .restaurant-view__show-more {
      outline: none;
      width: 25%;
      height: 3.5rem;
      margin: 1rem auto;
      cursor: pointer;
      background: none;
      border: 4px solid;
      color: #777;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.3rem;
      position: relative; }
      .main .restaurant-view__show-more::before, .main .restaurant-view__show-more::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 4px;
        background: #28b485;
        transform: skewX(50deg);
        transition: 0.4s; }
      .main .restaurant-view__show-more::before {
        top: -4px;
        left: 10%; }
      .main .restaurant-view__show-more::after {
        bottom: -4px;
        right: 10%; }
      .main .restaurant-view__show-more:hover::before {
        left: 80%; }
      .main .restaurant-view__show-more:hover::after {
        right: 80%; }

.footer {
  padding: 3rem;
  background-color: #777;
  font-size: 1.5rem;
  background-position: top;
  position: relative; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 4rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__copyright__text {
    color: #fff; }
